.h3{
    text-align: center;
    margin-top: 10px;
}
.footer{
    justify-content: space-evenly;
    width: 95%;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin: 25px auto;
}
.btn-not{
    color: var(--color-red);
}
.btn-yes{
    color: var(--color-green);
}