<div class="content-info">
	<kt-meta-usuario class="meta"></kt-meta-usuario>
	<div class="progress-equipe-dashboard" *ngIf="is_admin_geral">
		<kt-progress-equipes></kt-progress-equipes>
	</div>
</div>
<kt-portlet>
	<kt-portlet-body [class]="'kt-portlet__body--fit kt-portlet__body--custom'">
		<div class="header-dashboard header-table">
			<h3 class="sub-title h3">Lista de propostas</h3>
			<form [formGroup]="form" class="form-order" (ngSubmit)="clickSearch()">
				<div class="m-inputs">
					<input  formControlName="search" placeholder="Pesquisar a proposta ">
					<button class="btn btn-search" type="submit">
						<mat-icon>search</mat-icon>
					</button>
				</div>
			</form>
		</div>
		<kt-table-proposta *ngIf="!is_contrato" [setSearch]="search"></kt-table-proposta>
	</kt-portlet-body>
</kt-portlet>
