<form [formGroup]="form">
    <div class="row row-group">
        <div class="item item-mobile  item-margin-sm-min col-sm-6">
            <mat-form-field appearance="outline" class="m-inputs">
                <mat-label>Adesão texto - Impressão</mat-label>
                 <textarea matInput formControlName="adesao_texto_pagamento" row="5"></textarea>
            </mat-form-field>
        </div>
        <div class="item   item-border-sm  item-margin-sm-min col-sm-6 ">
            <mat-form-field appearance="outline" class="m-inputs">
                <mat-label>Mensalidade texto - Impressão</mat-label>
                 <textarea matInput formControlName="mensalidade_texto_pagamento" row="5"></textarea>
            </mat-form-field>
        </div>
    </div>
</form>