:host{
    ::ng-deep{
        .mat-form-field-infix{
            display: flex;
            align-items: center;
        }
        .table {
            .mat-column-rua{
                flex: 0 0 29%;
            }
            .mat-column-bairro{
                flex: 0 0 15%;
            }
            .mat-column-cidade{
                flex: 0 0 14%;
            }
            .mat-column-uf{
                flex: 0 0 11%;
                text-transform: uppercase;
            }
            .mat-column-delete{
                flex: 0 0 8%;
            }
            .mat-column-edit{
                flex: 0 0 8%;
            }
        }
    }
}

.header-table{
    @media only screen and (min-width: 1024px){
        padding: 28px 40px 40px 30px;
    }
    @media only screen and (min-width: 1300px){
        padding: 28px 135px 40px 30px;        
    }
    @media only screen and (max-width: 767px){
        padding: 30px 60px 30px 15px;
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.form-order{
    margin-top: -10px;

    @media only screen and (max-width: 1023px){
        margin-left: auto;
    }
    @media only screen and (max-width: 767px){
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: inherit;
        padding: 0 15px;
    }
}

.kt-portlet__body--custom{
    position: relative;

    .form-search{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 30px;

        .sub-title{
            font-weight: bold;
            padding: 0;
        }

        .m-inputs {
            border-bottom: 1px solid  #D5D5D5;
            height: 30px;
            width: 100%;

            @media only screen and (min-width: 768px){
                width: 189px;
            }

            input{
                border: none;
                color: #3D3D3D;
                width: calc(100% - 29px);
                outline: none;
                font-size: 1rem;
                font-weight: 500;

                @media only screen and (min-width: 575px){
                    font-size: 1.1rem;
                }

                ::placeholder{
                    font-size: 1rem;
                    font-weight: 500;
                    color: #3D3D3D;

                    @media only screen and (min-width: 575px){
                        font-size: 1.1rem;
                    }
                }
            }
            .mat-icon{
                font-size: 27px !important;
                color: var(--color-green-dark);
                width: auto;
                height: auto;
            }
            .btn{
                padding: 0;
            }
        }

        .btn-add{
            margin-left: 52px;
            margin-top: -10px;
            padding: 0;
            display: flex;
            align-items: center;

            @media only screen and (max-width: 1300px){
                margin-left: 32px;
            }
            @media only screen and (max-width: 1023px){
                margin-right: 18px;
            }
            @media only screen and (max-width: 767px){
                position: absolute;
                top: 40px;
                right: 0;
            }
            span{
                font-size: 16px;
                font-weight: 500;
                color:#3D3D3D ;
                margin-right: 14px;
                transition: color 300ms;

                @media only screen and (min-width: 1024px) and (max-width: 1300px){
                    display: none;
                }
                @media only screen and (max-width: 780px){
                    display: none;
                }
            }
            .mat-icon{
                color: #3DB239;
                border: 2px solid #3DB239;
                font-size: 22px !important;
                width: auto;
                height: auto;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            // HOVER
            &:hover{
                span{
                    color: #3DB239;
                }
            }
        }
    }
}
