<div class="info-aceite" *ngIf="!is_other; else newValidation">
    <div class="header">
        <span class="modal-aceite-voz-title">Cadastro do Aceite de voz</span>
    </div>
    <form  [formGroup]="form" (ngSubmit)="create()">
        <div class="info">
            <div class="item item-radius-tl-all item-radius-bl-lg-min  item-radius-tr-md-max item-border-md-min item-radius-top-left-sm item-radius-bottom-left-sm col-sm-12 col-lg-4">
                <mat-form-field appearance="outline" class="m-inputs" (click)="myDatepicker.open()">
                    <mat-label>Data do aceite de voz<b class="inputRequired">*</b></mat-label>
                    <input matInput formControlName="data_aceite_voz"  [matDatepicker]="myDatepicker">
                    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #myDatepicker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="item item-radius-bl-sm item-radius-bl-md item-border-lg item-margin-md-max col-sm-6 col-lg-3">
                <ngb-timepicker  formControlName="hora_aceite_voz" ></ngb-timepicker>
            </div>
            <div class="item item-radius-tl-all item-radius-bl-lg-min  item-radius-tr-md-max item-border-md-min item-radius-top-left-sm item-radius-bottom-left-sm col-sm-12 col-lg-5">
                <mat-form-field appearance="outline" class="m-inputs">
                    <mat-label>Telefone</mat-label>
                    <input matInput formControlName="telefone" ngxPhoneMaskBr >
                </mat-form-field>
            </div>
        </div>
        <div class="row row-button">
            <button type="submit" [disabled]="is_block" class="btn btn-success create">Cadastrar</button>
        </div>
    </form>
</div>
<ng-template #newValidation>
	<div class="answer">
		<h3 class="h3">Deseja escolher Aceite de voz para essa proposta? </h3>
		<h6 class="h6">Obs: Ao fazer isso a assinatura será deletada da proposta.</h6>
		<div class="option">
			<button type="button" class="btn btn-not btn-light" (click)="onNoClick()">
				Não
			</button>
			<button type="button" class="btn btn-yes btn-light" (click)="setValidation()">
				Sim
			</button>
		</div>
	</div>
</ng-template>
<button mat-button type="button" class="btn btn-close-modal" (click)="onNoClick()">
	<mat-icon>close</mat-icon>
</button>