.header{
    display: flex;
    justify-content: space-between;
    .modal-aceite-voz-title{
        font-weight: bold;
        font-size: 16px;
        color: var(--color-green-dark);
        display: block;
        @media only screen and (min-width: 480px){
            font-size: 26px;
        }
    }
    .btn{
        border-color: var( --color-green);
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 14px;
        width: 100%;

        .mat-icon{
            color: var( --color-green);
            height: auto;
            width: auto;
            transition: color 300ms;
        }
        // HOVER
        &:hover{
            background: var( --color-green);

            .mat-icon{
                color: var( --color-base);
            }
            span{
                color: var( --color-base);
            }
        }
    }
}
.sub-title{
    padding: 5px;
    text-align: center;
    font-size: 22px;
}


.audio{
    padding: 15px 30px;
}
.info-aceite{
    border-bottom: 1px solid rgba(0,0,0,.2);
    padding: 15px;
    .title-aceite{
        font-size: 16px;
        font-weight: bold;
        display: block;
    
    }
    .info{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 -15px;
    }
    .row-button{
        justify-content: flex-end;
        .btn.btn-success{
            padding: 10px;
            min-width: 120px;
        }
    }
}
.answer{
    padding: 15px;
    text-align: center;
    .option{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        .btn-not{
            color: var(--color-red);
        }
        .btn-yes{
            color: var(--color-green);
        }
    }
}