:host {
    ::ng-deep {
        .proposal,.statistics{
            .kt-portlet {
                height: 185px; 
                margin-bottom: 0; 
                
                @media only screen and (min-width: 768px){
                    height: 224px; 
                }

                .kt-portlet__body--fit{
                    padding: 5rem 0 2rem 0 !important;
                }
            }
        }
        .kt-portlet .kt-portlet__body--fit{
            padding: 0 25px;
        }
    }
}
.sub-title{
    padding: 15px 0;
}
.kt-portlet__body-custom{
    position: relative;
}
.relatory{
    .relatory-btn{
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-between;
        .btn{
            width: 100%;
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            @media only screen and (min-width: 468px){
                width: calc(50% - 20px);
                margin: 10px;
            }

            @media only screen and (min-width: 768px){
                width: calc(20% - 10px);
                margin-left: 0;
            }
            .mat-icon{
                margin-left: 5px;
            }
        }
    }
}
.proposal,.statistics{
    display: flex;
    flex-wrap: wrap;
    margin: 30px 15px 0;
    kt-portlet-relatorio{
        width: 100%;
        margin: 0 10px 30px;
        
        @media only screen and (min-width: 469px){
            width: calc(50% - 20px);
        }
        @media only screen and (min-width: 768px){
            width: calc(25% - 20px);
            margin: 0 10px;
        }
        @media only screen and (min-width: 1400px){
            width: calc(25% - 80px);
            margin: 0 40px;
        }
    }
}
.proposal{
    kt-portlet-relatorio{
        cursor: pointer;
    }
}
.statistics{
    justify-content: center;
}

.search{
    // padding: 0 25px;
    margin-bottom: 20px;
    width: 100%;

    @media only screen and (min-width: 1400px){
        display: flex;
        // flex-wrap: wrap;
        margin: 0 auto;
    }
}
.option{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    width: 120px;
    
    @media only screen and (max-width: 1200px){
        width: 13%;
    }
    @media only screen and (max-width: 1400px){
        width: 100%;
        justify-content: center;
    }
}
.row-filtro-relatorio{
    .item{
        padding: 0 10px;
        // width: 20%;
        width: 16.666%;
        
        @media only screen and (max-width: 1200px){
            width: 20%;
        }
        @media only screen and (max-width: 1024px){
            width: 25%;
        }
        @media only screen and (max-width: 768px){
            width: 50%;
        }
        @media only screen and (max-width: 468px){
            width: 100%;
        }

        .mat-input-element{
            color: #3D3D3D;
            font-size: 1.2rem;
        }
    }
    
    
}
.btn-print,
.btn-search{
    background: var( --color-green);
    border-radius: 8px;
    padding: 13px;
    margin-left: 10px;
    transition: background 300ms;
    color:#fff;
    .mat-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 22px !important;
    }
    
    // HOVER
    &:hover{
        background: var( --color-green-light);
    }
}
