<form class="form" [formGroup]="form" autocomplete="off" (ngSubmit)="save()">
    <div class="loading" *ngIf="isLoading">
        <mat-spinner></mat-spinner>
    </div>
	<div mat-dialog-content>
		<div class="header">
			<h5 class="title-modal-endereco h5">Informações de {{vida && vida.nome ? vida.nome : 'sem nome'}}</h5>
			<mat-checkbox formControlName="e_endereco_titular" *ngIf="data.titular && data.titular.tipo_pessoa == '0'">Mesmo endereço do titular?</mat-checkbox>
		</div>
		<div class="row row-group">
			<div class="item item-radius-tl-all item-radius-tr-xs-max col-sm-4 col-lg-4 ">
				<mat-form-field appearance="outline" class="m-inputs">
					<mat-label>Cep<b class="inputRequired">*</b></mat-label>
					<input matInput mMarkInputs="99999-999" formControlName="cep" placeholder="Insira sua cep">
				</mat-form-field>
			</div>
			<div class="item item-border-sm col-sm-5 col-lg-5">
				<mat-form-field appearance="outline" class="m-inputs">
					<mat-label>Rua<b class="inputRequired">*</b></mat-label>
					<input matInput formControlName="rua" placeholder="Insira o rua">
					<mat-error *ngIf="form.get('rua').errors !== null && form.get('rua').errors.required">Rua não foi preenchida.</mat-error>
					<mat-error *ngIf="form.get('rua').errors !== null && form.get('rua').errors.maxlength">Qtd de caracteres excedeu seu limite.</mat-error>
				</mat-form-field>
			</div>
			<div class="item item-border-sm item-radius-tr-sm-min col-sm-3">
				<mat-form-field appearance="outline" class="m-inputs">
					<mat-label>Número<b class="inputRequired">*</b></mat-label>
					<input matInput formControlName="numero" placeholder="Insira o número">
					<mat-error *ngIf="form.get('numero').errors !== null && form.get('numero').errors.required">Número não foi preenchido.</mat-error>
					<mat-error *ngIf="form.get('numero').errors !== null && form.get('numero').errors.maxlength">Qtd de caracteres excedeu seu limite.</mat-error>
				</mat-form-field>
			</div>
			<div class="item item-active-border-md  item-margin-sm-min col-sm-4 col-md-4">
				<mat-form-field appearance="outline" class="m-inputs">
					<mat-label>Bairro<b class="inputRequired">*</b></mat-label>
					<input matInput formControlName="bairro" placeholder="Insira o bairro">
					<mat-error *ngIf="form.get('bairro').errors !== null && form.get('bairro').errors.required">Bairro não foi preenchido.</mat-error>
					<mat-error *ngIf="form.get('bairro').errors !== null && form.get('bairro').errors.maxlength">Qtd de caracteres excedeu seu limite.</mat-error>
				</mat-form-field>
			</div>
			<div class="item item-border-sm item-border-md  item-margin-sm-min col-sm-4 col-md-4">
				<mat-form-field appearance="outline" class="m-inputs">
					<mat-label>Cidade<b class="inputRequired">*</b></mat-label>
					<input matInput formControlName="cidade" placeholder="Insira o cidade">
					<mat-error *ngIf="form.get('cidade').errors !== null && form.get('cidade').errors.required">Cidade não foi preenchida.</mat-error>
					<mat-error *ngIf="form.get('cidade').errors !== null && form.get('cidade').errors.maxlength">Qtd de caracteres excedeu seu limite.</mat-error>
				</mat-form-field>
			</div>
			<div class="item  item-border-sm  item-margin-sm-min col-sm-4 col-md-4">
				<mat-form-field appearance="outline" class="m-inputs">
					<mat-label>UF<b class="inputRequired">*</b></mat-label>
					<input matInput formControlName="estado" placeholder="Insira o uf">
					<mat-error *ngIf="form.get('estado').errors !== null && form.get('estado').errors.required">UF não foi preenchida.</mat-error>
					<mat-error *ngIf="form.get('estado').errors !== null && form.get('estado').errors.maxlength">Qtd de caracteres excedeu seu limite.</mat-error>
				</mat-form-field>
			</div>
			<div class="item item-margin-xs-min col-sm-6">
				<mat-form-field appearance="outline" class="m-inputs">
					<mat-label>Complemento<b class="inputRequired">*</b></mat-label>
					<input matInput formControlName="complemento" placeholder="Insira o complemento" maxlength="20">
					<mat-error *ngIf="form.get('complemento').errors !== null && form.get('complemento').errors.required">Complemento não foi preenchido.</mat-error>
					<mat-error *ngIf="form.get('complemento').errors !== null && form.get('complemento').errors.maxlength">Qtd de caracteres excedeu seu limite.</mat-error>
				</mat-form-field>
			</div>
			<div class="item item-margin-sm-min item-border-sm col-sm-6">
				<mat-form-field appearance="outline" class="m-inputs">
					<mat-label>Ponto de Referência<b class="inputRequired">*</b></mat-label>
					<input matInput formControlName="referencia" placeholder="Insira o referência">
					<mat-error *ngIf="form.get('referencia').errors !== null && form.get('referencia').errors.required">Ponto de Referência não foi preenchida.</mat-error>
					<mat-error *ngIf="form.get('referencia').errors !== null && form.get('referencia').errors.maxlength">Qtd de caracteres excedeu seu limite.</mat-error>
				</mat-form-field>
			</div>
			<div class="item item-margin-xs-min col-sm-6">
				<mat-form-field appearance="outline" class="m-inputs">
					<mat-label>E-mail</mat-label>
					<input matInput type="email" formControlName="email">
					<mat-error *ngIf="form.get('email').errors !== null && form.get('email').errors.email">E-mail inválido.</mat-error>
					<mat-error *ngIf="form.get('email').errors !== null && form.get('email').errors.maxlength">Qtd de caracteres excedeu seu limite.</mat-error>
				</mat-form-field>
			</div>
			<div class="item item-margin-sm-min item-border-sm col-sm-6">
				<mat-form-field appearance="outline" class="m-inputs">
					<mat-label>Estado Civil</mat-label>
					<mat-select formControlName="estado_civil" placeholder="Escolha a opção">
						<mat-option *ngFor="let item of lista_estado_civil | keyvalue;" [value]="item.value">
							{{ item.key }}
						</mat-option>
                    </mat-select>
					<mat-error *ngIf="form.get('estado_civil').errors !== null && form.get('estado_civil').errors.required">Estado Civil não foi escolhido.</mat-error>
				</mat-form-field>
            </div>
			<div class="item item-active-border-md  item-margin-sm-min col-sm-4">
				<mat-form-field appearance="outline" class="m-inputs">
                    <mat-label>Telefone<b class="inputRequired">*</b></mat-label>
					<input matInput formControlName="tel_residencial" ngxPhoneMaskBr>
					<mat-error *ngIf="form.get('tel_residencial').errors !== null && form.get('tel_residencial').errors.required">Telefone não foi preenchido.</mat-error>
				</mat-form-field>
			</div>
			<div class="item item-margin-xs-min item-border-sm col-sm-4 col-lg-4">
				<mat-form-field appearance="outline" class="m-inputs">
                    <mat-label>Telefone Celular</mat-label>
					<input matInput formControlName="tel_celular" ngxPhoneMaskBr >
				</mat-form-field>
			</div>
			<div class="item  item-border-sm  item-margin-sm-min col-sm-4">
				<mat-form-field appearance="outline" class="m-inputs">
                    <mat-label>Telefone Comercial</mat-label>
					<input matInput formControlName="tel_comercial" ngxPhoneMaskBr >
				</mat-form-field>
            </div>
            <div class="item item-margin-xs-min col-sm-6">
				<mat-form-field appearance="outline" class="m-inputs">
					<mat-label>Nome da mãe</mat-label>
					<input matInput  formControlName="nome_mae" >
				</mat-form-field>
			</div>
			<div class="item item-margin-sm-min item-border-sm col-sm-6">
				<mat-form-field appearance="outline" class="m-inputs">
					<mat-label>Idade</mat-label>
					<input matInput type="number"  formControlName="idade" >
				</mat-form-field>
			</div>
            <div class="item item-margin-xs-min item-radius-bl-sm-min col-sm-4 ">
				<mat-form-field appearance="outline" class="m-inputs">
					<mat-label>Grau de parentesco</mat-label>
					<mat-select formControlName="grau_parentesco" placeholder="Escolha a opção">
						<mat-option value="01">
							Titular
						</mat-option>
						<mat-option value="02">
							Cônjuge
						</mat-option>
						<mat-option value="03">
							Filho(A)
						</mat-option>
						<mat-option value="04">
							Enteado
						</mat-option>
						<mat-option value="05">
							Outros
						</mat-option>
                    </mat-select>
				</mat-form-field>
            </div>
            <div class="item item-margin-xs-min item-border-sm col-sm-4 col-lg-4">
				<mat-form-field appearance="outline" class="m-inputs">
					<mat-label>Código de Carência</mat-label>
					<mat-select formControlName="codigo_carencia" placeholder="Escolha a opção" >
						<mat-option value="01">
							Total/Normal
						</mat-option>
						<mat-option value="02">
							Reduzida/Parcial
						</mat-option>
						<mat-option value="03">
							Isento
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
            <div class="item item-margin-xs-min item-border-sm item-radius-br-all  item-radius-bl-xs-max col-sm-4 ">
				<mat-form-field appearance="outline" class="m-inputs">
					<mat-label>Carteira do SUS</mat-label>
					<input matInput type="number" formControlName="carteira_sus"  [readonly]="is_matricula_titular">
				</mat-form-field>
            </div>
		</div>
	</div>
	<div mat-dialog-actions>
		<button   color="primary"  class="btn btn-create" type="submit">
            <span>Salvar</span>
        </button>
    </div>
    <button mat-button type="button" class="btn btn-close-modal" (click)="onNoClick()">
        <mat-icon>close</mat-icon>
    </button>
</form>
