<kt-portlet>
	<kt-portlet-body [class]="'kt-portlet__body--fit header-default'">
        <h1 class="h1 title">Filial</h1>
        <div class="header-img">
            <img src="./assets/vitalmed/employees.svg" >
        </div>
		<h3 class="h3 sub-title-equipe">Cadastro de filial</h3>
		<button class="btn  btn-add" (click)="openModal()" *ngIf="functions.verificarPermissao(['filial-criar'])">
			<mat-icon>add</mat-icon>
		</button>
    </kt-portlet-body>
</kt-portlet>
<kt-portlet>
	<kt-portlet-body [class]="'kt-portlet__body--fit kt-portlet__body--custom'">
		<div class="header-table">
			<h3 class="sub-title h3">Lista de filiais</h3>
		</div>
		<kt-table-geral
		[setTables_config]='table_config'
		[setRefresh]="is_refresh"
		[setSearch]="search"
		(getRefresh)="changeRefresh($event)"></kt-table-geral>
	</kt-portlet-body>
</kt-portlet>
