<!-- begin:: Footer -->
<!-- <div class="kt-footer kt-footer--extended kt-grid__item" id="kt_footer"> -->
<div class="footer" id="">
	<!-- <div class="kt-footer__top">
		<div class="kt-container" [ngClass]="{'kt-container--fluid': fluid}">
			
		</div>
	</div> -->
	<div class="kt-footer__bottom">
		<div class="kt-container" [ngClass]="{'kt-container--fluid': fluid}">
			<a href="#">
				<svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23">
					<g id="duvida" transform="translate(-326 -1719)">
					  <circle id="Elipse_84" data-name="Elipse 84" cx="11.5" cy="11.5" r="11.5" transform="translate(326 1719)"/>
					  <text id="_" data-name="?" transform="translate(333 1720)" fill="#01478d" font-size="16" font-family="Oxygen-Bold, Oxygen" font-weight="700"><tspan x="1.535" y="16">?</tspan></text>
					</g>
				  </svg>
				  <span>Ajuda</span>
			</a>
		</div>
	</div>
</div>
<!-- end:: Footer -->
