<form class="form" [formGroup]="form" autocomplete="off" (ngSubmit)="!is_edit ? create() : update()">
	<div mat-dialog-content>
		<h5 class="title-modal-endereco h5">Cadastro de Endereços Restrito</h5>
		<div class="row row-group">
			<div class="item item-radius-tl-all item-radius-tr-xs-max col-sm-4 col-lg-4">
				<input type="hidden" formControlName="id">
				<mat-form-field appearance="outline" class="m-inputs">
					<mat-label>Cep<b class="inputRequired">*</b></mat-label>
					<input matInput formControlName="cep" placeholder="Insira sua cep">
					<mat-error *ngIf="form.get('cep').errors !== null && form.get('cep').errors.required">CEP não foi digitado.</mat-error>
				</mat-form-field>
			</div>
			<div class="item item-border-sm item-radius-tr-sm-min col-sm-8 col-lg-8">
				<mat-form-field appearance="outline" class="m-inputs">
					<mat-label>Rua<b class="inputRequired">*</b></mat-label>
					<input matInput formControlName="rua" placeholder="Insira o rua">
					<mat-error *ngIf="form.get('rua').errors !== null && form.get('rua').errors.required">Rua não foi digitado.</mat-error>
				</mat-form-field>
			</div>
			<div class="item item-margin-xs-min item-radius-bl-sm-min col-sm-5 col-lg-4">
				<mat-form-field appearance="outline" class="m-inputs">
					<mat-label>Bairro<b class="inputRequired">*</b></mat-label>
					<input matInput formControlName="bairro" placeholder="Insira o bairro">
					<mat-error *ngIf="form.get('bairro').errors !== null && form.get('bairro').errors.required">Bairro não foi digitado.</mat-error>
				</mat-form-field>
			</div>
			<div class="item item-margin-xs-min item-border-sm col-sm-5 col-lg-4">
				<mat-form-field appearance="outline" class="m-inputs">
					<mat-label>Cidade<b class="inputRequired">*</b></mat-label>
					<input matInput formControlName="cidade" placeholder="Insira o cidade" readonly>
					<mat-error *ngIf="form.get('cidade').errors !== null && form.get('cidade').errors.required">Cidade não foi digitado.</mat-error>
				</mat-form-field>
			</div>
			<div class="item item-margin-xs-min item-border-sm item-radius-br-all  item-radius-bl-xs-max col-sm-2 col-lg-4">
				<!-- <mat-form-field appearance="outline" class="m-inputs">
					<mat-label>UF<b class="inputRequired">*</b></mat-label>
					<input matInput formControlName="uf" placeholder="Insira o uf" maxlength="2">
					<mat-error *ngIf="form.get('uf').errors !== null && form.get('uf').errors.required">UF não foi digitado.</mat-error>
				</mat-form-field> -->
				<mat-form-field appearance="outline" class="m-inputs">
					<mat-label>UF<b class="inputRequired">*</b></mat-label>
					<mat-select formControlName="uf" placeholder="Escolha a opção">
						<mat-option [value]="item" *ngFor="let item of list_estado">
							{{ item }}
						</mat-option>
					</mat-select>
					<mat-error *ngIf="form.get('uf').errors !== null && form.get('uf').errors.required">UF não foi escolhida.</mat-error>
				</mat-form-field>
			</div>
		</div>
	</div>
	<div mat-dialog-actions>
		<button [disabled]="is_block"  color="primary"  class="btn btn-create" type="submit">
            <span>{{!is_edit ? 'Cadastrar' : 'Atualizar'}}</span>
        </button>
    </div>
    <button mat-button type="button" class="btn btn-close-modal" (click)="onNoClick()">
        <mat-icon>close</mat-icon>
    </button>
</form>
